sumofArray.class
smallestElm.class
replaceElm.class
secondlargest.class
largestMatrixElm.class
addMatrices.class
transpose.class
multiplyMatrices.class
trace.class
palindrome.class
searchChar.class
replaceChar.class
frequency.class